body {
    background-color: #f7f7f7;
}

.swagger-ui {
    margin-top: 70px;
}

    .swagger-ui .topbar {
        background-color: #660a88;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .swagger-ui .topbar a::after {
        content: "Nathaly Swagger";
        margin-left: 8px;
        font-size: 14px;
        font-style: italic;
        padding: 4px 15px;
        font-family: Roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-left: 2px solid #303030;
    }

        .swagger-ui .topbar .download-url-wrapper .select-label select,
        .swagger-ui .response-control-media-type--accept-controller select {
            border-color: #bf048d;
        }

    .swagger-ui .topbar-wrapper img {
        content: url('https://image.flaticon.com/icons/png/512/2219/2219609.png');
        height: 24px;
    }

    .swagger-ui .opblock .opblock-summary-description {
        text-align: right;
        padding: 0 8px 0 0;
    }


    .swagger-ui .scheme-container {
        margin: 0 0 20px;
        padding: 30px 0;
        background: #f7f7f7;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
    }
        .swagger-ui .response-control-media-type__accept-message {
        color: #2FC7FF;
    }

.swagger-ui .info .title small {
    background-color: #2FC7FF;
}
